altgraph==0.17.4
auto-py-to-exe==2.46.0
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2025.1.31
charset-normalizer==3.4.1
Eel==0.18.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
iniconfig==2.1.0
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pyparsing==3.2.1
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pytest==8.3.5
pytest-qt==4.4.0
requests==2.32.3
setuptools==76.1.0
typing_extensions==4.12.2
urllib3==2.3.0
zope.event==5.0
zope.interface==7.2
